# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

.env
/gems
/db/schema.rb
nginx.conf
/site/letsencrypt/*
